<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.seg2105_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.ClinicActivity"></activity>
        <activity android:name=".activities.SearchClinicActivity" />
        <activity android:name=".activities.ModifyEmplProfileActivity" />
        <activity android:name=".activities.EmployeeActivity" />
        <activity android:name=".activities.ManageAvailabilityActivity" />
        <activity android:name=".activities.AdministrationActivity" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>